body{
    background-color: olive;
}


#flex-parent{
    display:flex;
    background-color: orangered;
}
#flex-parent p{
    padding:5vw;
}


#grid-parent{
    display:grid;
    grid-template-rows: 2fr 2fr 2fr;
    grid-template-columns: 2fr 2fr 2fr;
    align-items: center;
}

#grid-parent h1{
    background-color: grey;
    padding:3vw 5vh;
    margin:5vw;
    
}
#no0{
    position: relative;
    left: 32vw;

}
#no1{

}
#no2{

}
#no3{

}
#no4{

}
#no5{

}
#no6{

}
#no7{

}
#no8{

}
#no9{

}

#flex-child1{
    justify-content: center;
    order:3;
}
#flex-child2{
    order: 4;

}
#flex-child3{
    order: 2;

}
#flex-child4{
    order:1;
}
